<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activeclub.fileserverminio.web.dao.FileDao">

    <resultMap id="BaseResultMap" type="com.activeclub.fileserverminio.bean.pojo.File">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="flag" jdbcType="BIGINT" property="flag"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>

        <result column="bucket" jdbcType="VARCHAR" property="bucket"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>

        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="format" jdbcType="VARCHAR" property="format"/>
        <result column="size" jdbcType="INTEGER" property="size"/>
        <result column="view_frequency" jdbcType="INTEGER" property="viewFrequency"/>
        <result column="creator_account_name" jdbcType="INTEGER" property="creatorAccountName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="all_file">
        d.id,d.flag,d.file_code,d.file_name,d.preview_url,
        d.bucket_name,d.path,
        d.md5_code,d.size,d.view_frequency,
        d.creator_account_name,d.update_account_name,d.create_time,d.update_time,d.overdue_time
    </sql>

    <insert id="upsert" parameterType="com.activeclub.fileserverminio.bean.pojo.File">
        insert into "file"(file_name, url, bucket, path, md5, "size", creator_account_name, "format")
        values (#{fileName}, #{url}, #{bucket}, #{path}, #{md5}, #{size}, #{creatorAccountName}, #{format})
        ON CONFLICT (md5,flag)
            DO UPDATE SET file_name = #{fileName},
                          url       = #{url},
                          bucket    = #{bucket},
                          "path"    = #{path},
                          "size"    = #{size},
                          "format"  = #{format};
    </insert>

    <select id="getMinioCoreVoByFileCode" resultType="com.activeclub.fileserverminio.bean.vo.MinioCoreVo">
        select file_name, bucket, "path", "format"
        from "file"
        where flag = 0
          and md5 = #{md5};
    </select>

    <select id="getUrlByMd5" resultType="java.lang.String">
        select url
        from file
        where flag = 0
          and md5 = #{md5}
        limit 1;
    </select>


</mapper>